body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* Property Grouping */
.task-board,
.notes-board,
.achievements-table,
.h3-table {
    border-radius: 10px;
}

.h3-table,
.notes-board,
table thead td {
    background-image: linear-gradient(
        110deg,
        rgba(75, 108, 183, 1) 11.3%,
        rgba(24, 40, 72, 1) 99.3%
    );
}

.task-board,
table tbody td {
    background-image: linear-gradient(
        270.8deg,
        rgba(27, 53, 68, 1) 2.2%,
        rgba(110, 180, 135, 1) 84%
    );
}

/* container  */
.task-board,
.notes-board {
    width: calc(50% - 30px);
    padding: 5px;
    color: whitesmoke;
    text-align: center;
    position: relative;
}

.task-board {
    float: left;
    margin-left: 10px;
}

.notes-board {
    float: right;
    margin-right: 10px;
}

.clear {
    clear: both;
}

h2 {
    color: goldenrod;
}

li {
    list-style: none;
}

.span1-task,
.span1-notes {
    position: absolute;
    top: -12px;
    right: -12px;
}

.sp {
    color: rgb(247, 24, 24);
}

/* achievements-table */
.achievements-table {
    background-image: linear-gradient(
        98.4deg,
        rgba(254, 251, 191, 1) 16.6%,
        rgba(187, 240, 211, 1) 81.8%
    );
    max-width: calc(100% - 80px);
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}

.h3-table {
    color: goldenrod;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

table,
td {
    border: black solid 2px;
    border-radius: 5px;
}

table {
    width: 50%;
    margin: 0 auto;
    background-color: goldenrod;
}

td {
    border: black solid 2px;
    color: whitesmoke;
}

table thead td {
    font-weight: bold;
    color: #eee;
}

/* floating button */
.floating-btn {
    background-image: linear-gradient(
        to right,
        #134e5e 0%,
        #71b280 51%,
        #134e5e 100%
    );
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    position: fixed;
    bottom: 10px;
    right: 50%;
    z-index: 10;
}
